<center><h1> ARMAGEDDON </h1></center><br><br>
<center><form action="/names" method="post">
  <h2>Your Name:</h2>
  <input type="text" name="player1">
  <h2>Enemy Name:</h2>
  <input type="text" name="player2"><br><br>
  <input type="submit" value="Submit">
</form></center>
