<h1> <%= @player1.name %> vs. <%= @player2.name %> </h1>

<h2> <%= @player2.name %>: <%= @player2.hp %>HP</h2>

<form action="/attack" method="get">
  <input type="submit" value="Attack player">
</form>
